:root {
  --primary-color: #9aa3c7;
  --secondary-color: #998f3b;
}

nav {
  background-color: var(--primary-color);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  padding: 40px;
  margin: 0;
  text-transform: uppercase;
}

h1.title {
  margin-top: 56px;
}

h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Playfair Display", serif;
}

.active-overwrite {
  font-weight: 900;
}

.home-paragraph {
  text-align: center;
}

.plain-link {
  text-decoration: none;
  color: black;
}

.plain-link:hover {
  font-weight: 300;
  color: black;
}

.visible-link {
  color: black;
}

.visible-link:hover {
  color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 0;
}

.footer-text {
  text-align: center;
  padding: 20px;
  padding-top: 10px;
}

.footer-icons {
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
}

.navbar-toggler {
  margin-right: 0;
}

img.about-img {
  max-width: 350px;
}

div.about-text {
  text-align: right;
  padding-left: 250px;
}

lottie-player.animation {
  display: block;
  margin: 0 auto;
}

.content-img {
  width: 450px;
  height: 358px;
  object-fit: scale-down;
  border: 5px solid var(--primary-color);
  border-radius: 4px;
}

div.text-left {
  padding-left: 150px;
}

div.text-right {
  padding-right: 150px;
}

h3.content {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 20px;
  font-size: 24px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    padding: 30px;
  }

  h2 {
    font-size: 18px;
    line-height: 28px;
  }

  lottie-player.animation {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
  }
}
