:root {
  --primary-color: #9aa3c7;
  --secondary-color: #998f3b;
}

nav {
  background-color: var(--primary-color);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  padding: 40px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 20px;
}

p {
  font-family: "Playfair Display", serif;
}

.home-paragraph {
  text-align: center;
}

.plain-link {
  text-decoration: none;
  color: black;
}

.plain-link:hover {
  font-weight: 300;
  color: black;
}

footer {
  background-color: var(--primary-color);
}

.footer-text {
  text-align: center;
  padding: 20px;
}
