:root {
  --primary-color: #9aa3c7;
  --secondary-color: #998f3b;
}

nav {
  background-color: var(--primary-color);
}

h1 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Playfair Display", serif;
}
